/* CSS Variables */
:root {
--n: 14;
/* Sizing */
--page-width: 60vw;
--page-height: 100%;
/* Spacing */
--gap: 0.4em 0.4em;
--header-footer-padding: 1.6em 0;
--section-padding: 4em 0;
--container-padding: 1em;
--project-margins: 0 0 0 0;
/* Typography */
--header-font: 'Press Start 2P', system-ui;
--body-font: 'Open Sans', sans-serif;
--h1-size: 3em;
--h2-size: 1.5em;
--p-size: 1.5em;
--highlight-size: 1em;
--header-spacing: 0 0 0.4em 0;
--inline-spacing: 0 0 1em 0;
/* Colors */
--background: #000000;
--secondary-background:rgba(102, 255, 2, 0.2);
--primary: #66FF02;
--secondary: #317A00;
--nav-link: var(--secondary);
--link:var(--secondary);
--white: #ffffff;
--black:#000000;
--gray: #a5a5a5;
/* Drop Shadow */
--drop-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
/* Button variables */
--btn-font-size: 1.1em;
--btn-border-radius: 0.4em;
--btn-text:var(--black);
--btn-font-weight:900;
/* Keyword variables */
--keyword-size: 0.8em;
/* Border */
--border: 2px solid var(--primary);
--border-radius: 1em;
}

:root {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Priming animations to load well */
.js-loading *,
.js-loading *:before,
.js-loading *:after {
  animation-play-state: paused !important;
}

body {
    color: var(--primary);
    background-color: var(--background);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Universal width of content */
#header-content, #footer-content, .section-content {
   width: var(--page-width);
   height: var(--page-height);
}

/* Typographic styling */
/* Fonts for headers */
h1, h2 {
    word-spacing: -0.6em;
    text-transform: uppercase;
    font-family: var(--header-font);
}
/* Fonts for body text */
p, a, li {
    font-family: var(--body-font);
}

h1 {
    font-size: var(--h1-size);
    margin: var(--header-spacing);
    line-height: 1.4em;
}

h2 {
    font-size: var(--h2-size);
    margin: var(--header-spacing);
}

p {
    font-size: var(--p-size);
    margin: var(--inline-spacing);
    line-height: 1.5em;
}

li {
    font-size: var(--highlight-size);
}

a {
    font-weight: 700;
    color: var(--link);
    text-decoration: none;
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.1));
}

a:hover {
    color: var(--primary);
    text-decoration: underline;
    font-weight: 600;
}
/* Components */
/* Image sizing */
img {
    width:100%;
    object-fit: cover;
    margin: var(--inline-spacing);
}
/* Button group */
.button-group {
    padding: var(--container-padding);
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    margin: var(--inline-spacing);
}
.button-group:last-child {
    margin:0;
}
/* Button styling */
button {
    width: 100%;
    background-color: var(--primary);
    color: var(--btn-text);
    border: none;
    padding: 0.8em 1.6em;
    font-size: var(--btn-font-size);
    font-weight: var(--btn-font-weight);
    cursor: pointer;
}

button:hover {
    background-color: var(--secondary);
}

button:focus {
    background-color: var(--secondary);
}

.keyword-container {
    display: flex;
    gap: var(--gap);
    flex-wrap: wrap;
    margin: var(--inline-spacing);
}

.keyword-container:last-child {
    margin: 0;
}

.keyword {
    border-radius: 0.2em;
    padding: 0 0.8em 0.2em 0.8em;
    background-color: var(--secondary-background);
    margin: 0;
    color:var(--secondary);
    font-size: var(--keyword-size);
    font-weight: 100;
}

.keyword:hover {
    background-color: var(--primary);
    color: var(--black);
    cursor: default;
}

/* Header styling */
header, footer {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: var(--header-footer-padding);
}

header {
    border-bottom: var(--border);
}

header p {
    font-family: var(--header-font);
}

footer {
    border-top: var(--border);
}

/* Spacing reset for header and footer */
header p, footer p {
    margin: 0;
}

/* Styling for navigation links */
header a, footer a {
    color: var(--nav-link);
    font-family: var(--header-font);
}

/* Header and footer content spacing and alignment */
#header-content, #footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 26em;
}

#nav-links a {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-weight: 900;
}

/* Section styling */
section {
    padding: var(--section-padding);
    width: 100vw;
    display: flex;
    justify-content: center;
}
#introduction > .section-content {
    container-type: inline-size;
    container-name: intro-text;
}

#skills > .section-content {
    container-type: inline-size;
    container-name: skills;
}

.focus-box p, ul {
    margin:0;
    padding:0;
}

.focus-box li {
    list-style-type: none;
    padding: 0;
    margin: 0 0 0.2em 0;
}

.focus-column {
    border: var(--border);
    background-color: var(--secondary-background);
    color:var(--primary);
    padding: var(--container-padding);
    min-width: 14em;
    margin: var(--inline-spacing);
}

.focus-column h2 {
    font-weight: 900;
    font-size: 1.2em;
    margin:0 0 0.4em 0;
}

#side-projects > .section-content, #featured-work > .section-content {
    container-type: inline-size;
    container-name: projects;
}

.project {
    display: flex;
    flex-direction: column;
    border: var(--border);
    background-color: var(--background);
    color: var(--primary);
    margin: var(--project-margins);    
}

.project-content {    
    padding: var(--container-padding);
}

.project > .project-information > h2 {
    margin: 0;
    padding: 1rem;
    color: var(--black);
    background-color: var(--primary);
}

.project > .project-information > .project-content > p {
    font-size: 1em;
}

/* Fixes for highlights list styling */
.project li {
    margin: 0 0 0.2em 1em;
}

/* REFACTOR HIGHLIGHTS instead of it inheriting from focus */
/* Highlights styling */
.project > .project-information > .project-content > .focus-column {
    margin: var(--inline-spacing);
    width: 100%;
    border-radius: 0em;
    background-color: var(--secondary-background);
    border: none;
}

.project > .project-information > .project-content > .focus-column h2, li {
    filter: drop-shadow(var(--drop-shadow));
}

/* Animation */
/* Animation classes */
.animation-appear {
    opacity: 0;
    animation: appear 1s ease 1 forwards;
}

.animation-slideup {
    animation: slideup 1s ease 1 forwards;
}


/* Animations */
 
.read-progress {
    height:0.2em;
    position: fixed;
    top:0;
    z-index: 1000;
    background-color: var(--primary);
    width:100%;
    scale: 0 1;
    animation: read-progress linear;
    animation-timeline: scroll();
    transform-origin: left;
}

@keyframes read-progress {
    to {scale: 1 1;}
}

#blink-1 {
    animation: blink 0.5s ease infinite forwards;
}
#blink-2 {
    animation: blink 0.5s ease infinite forwards;
    animation-delay: 0.1s;
}
#blink-3 {
    animation: blink 0.5s ease infinite forwards;
    animation-delay: 0.2s;
}

#introduction > div > h1 {
    opacity: 0;
    overflow: hidden;
}

#introduction > div > h1:first-child {
    animation: type 1s ease-in 1 forwards;
    animation-delay: 2.2s;
}

#introduction > div > h1:nth-child(2) {
    animation: type 1.5s ease-in 1 forwards;
    animation-delay: 4s;
}

@keyframes type {
    0% {
        width: 0;
    }
    100% {
        opacity: 1;
        width: 100%;
    }
}

#loading {
    text-transform: uppercase;
    font-family: var(--header-font);
    font-size: var(--h2-size);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    color: var(--primary);
    background-color: var(--background);
    z-index: 1000;
    height: 100vh;
    width: 100vw;
    animation: shrinkup 0.5s ease 1 forwards;
    animation-delay: 1.5s;
    filter: drop-shadow(var(--drop-shadow));
}

#animation-intro-p1 {
    animation-delay: 5s;
}

#animation-intro-p2 {
    animation-delay: 5.2s;
}

#skills, #tldr, #featured-work, #other-work, #side-projects {
    animation-delay: 5.4s;
}

/* Types of animations */
@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }    
}

@keyframes moveright {
    0% {
        transform: translateX(-15%);
    }
    100% {
        transform: translateX(0%);
    }    
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }    
}

@keyframes shrinkup {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-100%);
        display: none;
    }    
}

/* Media queries
/* Desktop */
.mobile-visible {
    display: none;
}

/* For Mobile */
@media only screen and (width <= 480px) {
    #header-content, #footer-content, .section-content {
        --page-width: 90vw;
    }
    /* NEEDS WORK ON MOBILE VERSION MENU */
    header, footer {
        width: 100vw;
        padding: 1em 0;
    }
    /* NEEDS WORK TO HAVE LOGO INSTEAD OF NAME */
        header p, footer p {
        display: none;
     } 
}

/* For Tablets */
@media only screen and (width <= 768px) {
    #header-content, #footer-content, .section-content {
        --page-width: 90vw;
    }

    section {
        --section-padding: 2em 0;
    }
    
    h1 {
        --h1-size: 2em;
    }

    h2 {
        --h2-size: 1.4em;
    }

    p {
        --p-size: 1.1em;
    }
    
    #nav-links a {
        font-size: 0.8em;
    }
}

/* For Desktop */
@media only screen and (min-width: 769px) {
    #header-content, #footer-content, .section-content {
        --page-width: 80vw;
    }
}

/* Container queries */
@container intro-text (min-width: 926px) {
    /* Intro text becomes two columns */
    #introduction > .section-content > div {
        display: flex;
    }
    /* Column spacing */
    #introduction > .section-content > div > p:first-child {
        margin: 0 1em 0 0;
    }
}

@container skills (min-width: 477px) {
    /* Skills are in a row if screen size is bigger */
    .focus-box {
        display: flex;
        flex-direction: row;
    }
    /* Fixing spacing when skills are in a row */
    .focus-column {
        margin: 0;
    }    
}

@container projects (width < 894px) {
    .project {
        margin: 0 0 2em 0;
    }

    .project:last-child {
        margin: 0;
    }
}

@container projects (width > 893px) {
    /* Multiple projects in a row if screen size is bigger */
    .project-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
    }

    .project {
        justify-content: space-between;
        width: 32%;
    }
}

@container projects (width > 594px) and (width <= 893px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
    }

    .project {
        justify-content: space-between;
        width: 48%;
    }
}